<div class="container">
    <img src="~/images/faleconosco1.jpg" />
    <div class="jumbotron">
        <h3>Entre em contato conosco</h3>
        <p>Envie sua dúvida ou sugestão:</p>
        <p>
            <span>
                <img src="~/images/envelope-icon24.png" />
            </span>
            <h5><email endereco="contato@allegrajoias.com.br" conteudo="Enviar e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(11) 94501-4008</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Eng. Pedro Garcin, 191 - São Paulo - Brasil</h5>
        </p>
    </div>
</div>
