@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<partial name="_Carrossel"/>

<h2>Destaques do mês</h2>
<h4>Promoção dia das Mães!</h4>

<div class="row">
    @foreach (var joia in Model.JoiasPreferidas)
    {
        <partial name="_JoiasResumo" for="@joia" />
    }

</div>

